@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    padding: 20px;
    display: grid;
    grid-row: span 2;
    grid-template-rows: 0.75fr 5fr 8fr;
    background-color: rgb(89,198,201);
}

.sidebar-header {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 100px;
    align-items: center;
    column-gap: 30px;
    margin-left: 24px;
}

.sidebar-nav {
    display: grid;
    grid-template-rows: 1fr 2fr;
    font-size: 30px;
    font-weight: bold;
}

.main-nav, .secondary-nav {
    display: grid;
    grid-template-rows: max-content;
    margin-left: 24px;
}

li a, li img{
    vertical-align: middle;
}

.header{
    padding: 20px;
    background-color: rgb(237,222,195);
    color: black;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 250px 0.5fr;
    row-gap: 75px;
    box-shadow: inset rgb(167 158 142) 20px 0px 20px 0;
}

.upper-header {
    display: grid;
    grid-template-rows: 100px;
    grid-row: 1;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    grid-column: 1/-1;
    padding-left: 50px;
}

.search {
    display: grid;
    grid-template-columns: 75px 0.75fr;
    grid-auto-flow: column;
    align-items: center;
}

input {
    border-radius: 25px;
    height: 1rem;
    width: 1fr;
    grid-column: -1 / -2;
}

.user {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid rgb(31, 67, 68);
}

.greetings > .avatar {
    width: 140px;
    height: 140px;
}

.lower-header {
    display: grid;
    grid-template-rows: 100px;
    grid-row: 2;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    grid-column: 1/-1;
    padding-left: 50px;
    padding-bottom: 50px;
}

.greetings {
    display: grid;
    grid-template-columns: 150px 2fr;
    grid-column: 1;
    vertical-align: center;
}

.greetings > div {
    font-size: 20px;
    vertical-align: center;
}

#user-details {
    font-size: 36px;
    vertical-align: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:36px;
    align-items: center;
}

.buttons > button{
    width: 175px;
    height: 75px;
    border-radius: 3em / 5em;
    background-color: rgb(89,198,201);
    font-size: 36px;
    color: white;
    font-weight: 600;
}

.main-content{
    padding: 20px;
    background-color: rgb(26,92,70);
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 30px;

    box-shadow: inset rgb(17, 59, 45) 0px 20px 20px 0;
}

a, a:visited{
    text-decoration: none;
    color: white;
    padding-left: 24px;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}         

#icons{
    width: 60px;
    height: 60px;
    color: white;
}

.projects{
    display: grid;
    grid-row: span 2;
    gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
    grid-template-rows: 100px repeat(auto-fit, minmax(200px, 350px));
}

#notification {
    background-image: url(/icons/bell-outline.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
}

#fav {
    background-image: url(/icons/heart-outline.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
}

#track {
    background-image: url(/icons/eye-plus-outline.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
}

#fork {
    background-image: url(icons/source-fork.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
}

.card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    padding: 24px;
    border-radius: 10px;
    font-size: 24px;
    box-shadow: inset rgb(17, 59, 45) 20px 20px 0 0;
}

.card-title, .project-title, .announce-title, .trend-title {
    font-weight: bold;
    font-size: 24px;
}

.card-title, .card > p {
    text-align: start;
    padding-left: 24px;
}

.card-buttons {
    display: grid;
    grid-template-columns: repeat(3, 24px);
    justify-content: end;
    gap: 36px;
    margin-right: 24px;
    margin-top: 50px;
}

.announcements {
    display: grid;
    font-size: 24px;
}

.announce-body {
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 45px;
}

.announces {
    border-bottom: black 1px solid;
}

.announces 

.announce-header{
    font-weight: bold;
}

.trends {
    display: grid;
    grid-column: 1 -1;
    font-size: 24px;
}

.project-title{
    display: grid;
    grid-column: 1 / -1;
}